<div ng-controller="ExerciseTree">

    <div id="lectureTree"  style="height: 320px;overflow-y: auto;position: relative">
    <div id="content" ng-repeat="lecture in lectures">

    <h4> <span class="glyphicon glyphicon-folder-open"></span>   {{lecture.id}}</h4>

       <div ng-repeat="exercise in lecture.exercises">
             <span class="glyphicon glyphicon-list-alt"> </span>
               {{exercise.name}}
       </div>

    </div>
    </div>
    <div style="bottom:0; width: 100%; height: 20px">
    <div class="btn-group btn-group-xs" style="float: right;">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-minus"></span>
           remove</button>
        <button type="button" class="btn btn-default">add
            <span class="glyphicon glyphicon-plus"></span></button>
    </div>

    <div class="btn-group btn-group-xs" style="float: left;">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-globe"></span>
            share</button>

    </div>
    </div>
</div>