<style type="text/css" media="screen">
#fListdiv{
    text-align: left;
    margin-left: 20px;
}
</style>


<div ng-controller="Functions" style="width: 230px; margin-left: 4px; margin-top: 25px;">

    <h4 style="margin-left: 10px;"><span class="glyphicon glyphicon-folder-open" style="margin-right: 10px;"></span>Functions</h4>

    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        conlole.println()
    </div>
    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        alert()
    </div>
    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        CustomFunction_1()
    </div>
    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        CustomFunction_2()
    </div>
    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        CustomFunction_3()
    </div>
    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        CustomFunction_4()
    </div>







    <!--<div id="fListdiv">-->
   <!--<h6>function1 </h6>-->
    <!--<h6>function2 </h6>-->
    <!--<h6>function3 </h6>-->
    <!--<h6>function4 </h6>-->
    <!--<h6>function5 </h6>-->
    <!--</div>-->



</div>