<style type="text/css" media="screen">
#fListdiv{
    text-align: left;
    margin-left: 20px;
}
</style>


<div ng-controller="Functions">
    <h4>List of available functions: </h4>


    <ul class="list-group">
        <li class="list-group-item">Print</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <!--<div id="fListdiv">-->
   <!--<h6>function1 </h6>-->
    <!--<h6>function2 </h6>-->
    <!--<h6>function3 </h6>-->
    <!--<h6>function4 </h6>-->
    <!--<h6>function5 </h6>-->
    <!--</div>-->



</div>