<style type="text/css" media="screen">
#fListdiv{
    text-align: left;
    margin-left: 20px;
}
</style>


<div ng-controller="Functions" style="width: 230px; margin-left: 4px; margin-top: 25px;">
    <div id="top" style="height: 290px">
    <h4 style="margin-left: 10px;"><span class="glyphicon glyphicon-folder-open" style="margin-right: 10px;"></span>Functions</h4>

    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        console.println(message)
    </div>
    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        alert(message)
    </div>
    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        function1(arg0)
    </div>
    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        function2()
    </div>
    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        function3(arg0, arg1)
    </div>
    <div style="margin-left: 30px;">
        <span class="glyphicon glyphicon-paperclip"> </span>
        function4()
    </div>
    </div>
    <div class="btn-group btn-group-xs"  ng-if="isTeacher()" style=" bottom: 0;float: right">
        <button type="button" class="btn btn-default">add
            <span class="glyphicon glyphicon-plus"></span></button>

    </div>






    <!--<div id="fListdiv">-->
   <!--<h6>function1 </h6>-->
    <!--<h6>function2 </h6>-->
    <!--<h6>function3 </h6>-->
    <!--<h6>function4 </h6>-->
    <!--<h6>function5 </h6>-->
    <!--</div>-->



</div>