<!-- Static navbar -->


<div class="modal fade" id="test_modal" style="width: 700px; height: 300px; background: #ffffff; margin-left: auto ; margin-right: auto">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Program Info</h3>
    </div>
    <div class="modal-body">
        <p>dfjdsklgvjdfskgvdskf
        \gkdfgdf\gbldfdfkgdsg
        dsg
        dsfg
        dfg
        dsfgls;dflgj;l'dfsgoperopgkrpogkrs;lgl;dsfkglv;kdfsgl;'skgldsfg
        dsgp
        dsfgdsk
        fgpdskgkdlsl;gkdsl;fgkds;lfkdslkgl;erwgjkwoepjkgokewg
        eglkegrlk</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>

    </div>
</div>


            <script type="text/javascript">
                    $(document).ready(function(){

                        $( "#programInfo" ).click(function() {
                            $('#test_modal').modal('show');
                        });
                    });
</script>



<div class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="Navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{mode}} Mode</a>
            <a class="navbar-brand"><small>{{user}}</small> </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a id="programInfo">Program info</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Functions</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Help from teacher</li>
                        <li><a href="#">Defined functions</a></li>

                    </ul>
                </li>

                <li class="dropdown" ng-if="isTeacher()">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">Students <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Student 1</a></li>
                        <li><a href="#">Student 2</a></li>
                        <li><a href="#">Student 3</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">Exercises <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li ng-repeat-start = "lecture in lectures" class="dropdown-header"><a href="#">{{lecture.id}}</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="exercise in lecture.exercises"><a href="#">{{exercise.name}}</a></li>
                        <li class="divider" ng-repeat-end></li>

                    </ul>
                </li>
                <li><a href="{{logout}}">Logout</a></li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</div>

