<div ng-controller="Variables">
    <style type="text/css" media="screen">
        .varDefault {
            background-color: white;
            font-size: 14pt;
            font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        }

        .varHighlight {
            background-color: yellowgreen;
            font-size: 14pt;
            font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        }

    </style>

    <h4 style="margin-left: 10px;"><span class="glyphicon glyphicon-folder-open" style="margin-right: 10px;"></span>Variables</h4>
    <table id="variablesTable" style="width:100%">

    </table>
</div>