<style>
    div#column1 {
        width: 600px;
        height: 860;

        float: left;
    }
    div#column2 {
        margin-left: 0%;
     
        float: right;
        width: 343px;
        height: 860;
    }


    #workspace{
        text-align: center;
        width:943px; margin:0 auto;
        height: 680px; margin:0 auto;
        background: darkgray;
    }


</style>



<div  id="workspace" ng-controller="Workspace" >

    <div>

        <div id="column1">
            <div class="workspace-item" style="width: 600px; height: 240px">
                <exercise></exercise>
            </div>

            <div class="workspace-item" style="width: 600px; height: 440px" >
                <single-code ng-if="isSingle()" ></single-code>
                <multi-code ng-if="isMulti() || isTeacher()" ></multi-code>
            </div>
        </div>


        <div id="column2" >
            <div class="workspace-item" style="width: 343px; height: 340px">
                <variables ng-if="!isTeacher()"></variables>
                <exercise-tree ng-if="isTeacher()"></exercise-tree>
            </div>

            <div class="workspace-item" style="width: 600px; height: 240px">

                <functions></functions>
            </div>

        </div>

    </div>
</div>


<script>

    $(".splitterHorizontalTop").kendoSplitter({
        orientation: "horizontal",
        panes: [ { collapsible: false, size: "70%" }, { scrollable: false }, {} ]

    });

    $(".splitterHorizontalBottom").kendoSplitter({
        orientation: "horizontal",
        panes: [ { collapsible: false, size: "70%" }, {collapsible: true} , {} ]

    });

    $(".splitterVertical").kendoSplitter({
        orientation: "vertical",
        panes: [ { scrollable: false }, {} ]
    });
</script>