





<div class="splitterVertical" id="workspace" ng-controller="Workspace">

    <div class="splitter" >
    <div class="workspace-item">
        <exercise></exercise>
    </div>


    <div class="workspace-item">
        <variables ng-if="!isTeacher()"></variables>
        <exercise-tree ng-if="isTeacher()"></exercise-tree>
    </div>

    </div>


    <div class="splitter">
    <div class="workspace-item">
        <single-code ng-if="isSingle()" ></single-code>
        <multi-code ng-if="isMulti() || isTeacher()" ></multi-code>
    </div>

    <div class="workspace-item">
        <functions></functions>

    </div>
    </div>
</div>


<script>
    $(".splitter").kendoSplitter({
        orientation: "horizontal",
        panes: [ { scrollable: false }, {} ]
    });

    $(".splitterVertical").kendoSplitter({
        orientation: "vertical",
        panes: [ { scrollable: false }, {} ]
    });
</script>